body {
    background-color: black;
    font: arial;
    color: white; 
}
h1{
    color:grey;
    font: verdana;
}
.parentdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.maindiv {
    background-color: white;
    color: black;
    width: 40vw;
    padding: 50px;
    border-radius: 25px;
}
.childdiv {
    margin-left: 10%;
    padding-bottom: 20px;    
}
#principal, #years, #rate {
    margin-left: 20px;
}
footer {
    text-align: center;
}